<!DOCTYPE html>
<html>
	<head>
		<title>Freeborn Chat</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="css/main.css" rel="stylesheet" media="screen">
		<link href="css/signin.css" rel="stylesheet">
	</head>

	<body>
		<div id="loginForm" class="container">
			<form class="form-signin" onsubmit="auth(); return false;">
				<h2 class="form-signin-heading">Freeborn Chat</h2>
				<input type="text" id="nick" class="form-control" placeholder="Name" autofocus>
				<input type="password" id="pw" class="form-control" placeholder="Secret phrase?">
				<button class="btn btn-lg btn-primary btn-block" type="submit">Join chat</button>
			</form>
		</div>

	  	<div id="chat" class="container">
			<h2 id="title">Freeborn Chat</h2><br />

	  		<div id="userList"class="col-lg-2"></div>

		  	<div id="msgForm" class="col-lg-6">
				<div id="messageBox" class="col-lg-12"></div>
		  		<form class="" onsubmit="sendMsg(); return false;">
		  			<div class="input-group">
						<input id="field" class="form-control" type="text" placeholder="Your message..">
						<span class="input-group-btn">
							<button id="msgButton" class="btn btn-default" type="submit">Say</button>
						</span>
					</div>
				</form>
				<br/>
			</div>
	  	</div>

	    <script src="/socket.io/socket.io.js"></script>
		<script src="js/main.js"></script>
	</body>

</html>